.co_1{
    color: '#ffff';
    background-color: '#0000"';
}
.co_2{
    color: '#143b64';
    background-color: '#0000';
}
.co_3{
    color: '#7356f1';
    background-color: '#0000';
}
.co_4{
    color: '#4527a0';
    background-color: '#0000';
}
.co_5{
    color: '#c62828';
    background-color: '#0000';
}
.co_6{
    color: '#283593';
    background-color: '#0000';
}
.co_7{
    color: '#1e78ff';
    background-color: '#0000';
}
.co_8{
    color: '#3695eb';
    background-color: '#0000';
}
.co_9{
    color: '#00838f';
    background-color: '#0000';
}
.co_10{
    color: '#ff8f16';
    background-color: '#0000';
}
.co_11{
    color: '#6673fd';
    background-color: '#0000';
}
.co_12{
    color: '#558b2f';
    background-color: '#0000';
}
.co_13{
    color: '#2a2a2a';
    background-color: '#0000';
}
.co_14{
    color: '#1367c8';
    background-color: '#0000';
}