.deatil-1{
    display: flex;
    
}
.product-name,.Expend{
    padding-right: 20px;
}
.text1[type=text]{
    width: 250px;
}
.text2[type=text]{
    width: 600px;
}

.text1[type=text],.text2[type=text]{
    border-radius: 5px;
}